/* CSS Document */

.button {
    margin: 0px;
    padding: 0px; 
    background-color: white; 
    color: navy;
    text-align: center;
    font-weight: bold;
}

.button_alerte {
    margin: 2px;
    padding: 2px; 
    background-color: red; 
    color: white;
    text-align: center;
    font-weight: normal;
}

.input {
  float: none;
  background-color: navy; 
  color: white;
  text-align: center;
}


.attention {
  float: none;
  background-color: #aa0077; 
  color: white;
  text-align: center;
}


#entete {
  background-color: navy;
  color: yellow;
  border: 1px solid orange;
  margin: 2px;
  padding: 2px;
  width:100%;
}

.menu {
  background-color: #133255;
  color: yellow;
  border: 2px solid white;
  margin: 2px;
  padding: 2px;
}

a.men:link {
    color: white;
    background-color: transparent; 
    text-decoration: none;
    font-weight: bold;
}

a.men:visited {
    color: white;
}

a.men:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

a.men:hover {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.corpstexte {
  background-color: #def;
  color: black;
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
  clear: right;
  overflow: auto;
  display: none;
  width:100%;
  height: 230px;
}

#gauche {
  float: left;
  border: 1px solid black;
  background-color: #def;
  color: black;
  margin: 2px;
  padding: 2px;
  right: 0;
  top: 0;
  clear: right;
  overflow: auto;
  position : relative;
}


#droite {
  border: 1px solid black;
  color: black;
  margin: 2px;
  padding: 2px;
  right: 8px;
  top: 42px;
  width: 300px;
  height: 225px;
  clear: right;
  position : absolute;
}


.left {
    margin:2px;
    padding:2px;
    float:left;
    clear: left;
    position : relative;
}

#scrollleft {  
    width:420px;
    height: 800px;
    margin:2px;
    padding:2px;
    float:left;
    overflow:auto;
    clear: left;
    position : relative;
}
  
#scrollright {
    height: 800px;
    margin:2px;
    padding:2px;
    border:1px solid black;
    overflow:auto;
    clear:right;
    position:relative;
}


#scrolldown {
    height:100px;
    width:100%;
    margin:2px;
    padding:2px;
    border:1px solid black;
    float:left;
    overflow:auto;
    clear:right;
    position:relative;
}
    
.rightscrolldown{
    height:100px;
    margin:2px;
    padding:2px;
    float:right;
    overflow:auto;
    clear:right;
    position:relative;
}

#myinfo {
    right:0;
    position:relative;
}

#basdepage {
    left:0;
    float:right;
    clear:right;
    position:relative;
}

